.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 300px;
    background-color:white;
    border: 0.1rem solid red;
    color: black;
    flex-wrap: wrap;

}

.about{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    margin-bottom: 50px;
   
}


.img{
    height: 200px;
    width: auto;
}
.sir{
    width: 200px;
    height: 200px;
    transition-duration: 5s;
    /* transition-property: border, width, height; */
    
}
.sir:hover{
    width: 300px;
    height: 300px;
    /* border: 2px solid red; */
}

.main{
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.menu{
    height: 100;

}
.first_content ul li{
    font-size: 20px;
    line-height: 30px;
    
}

.first_content ul li a{
   color: antiquewhite;
    
}

.first_content h2{
   
    font-size: 20px;
 }

 .content{
    background-color: black;
     overflow-y: hidden;
     margin: 10px;
     padding: 10px;
 }
.main a{
    color: white;
}

.kk{
    color: tomato;
    font-size: 20px;
    padding: 10px;
}


footer{
    background-color: black;
    height: 200px;
    color: white;
    padding: 50px;

}
.ice{
    display: flex;
    gap: 150px;
    margin-top: 60px;
    font-size: 20px;
     margin-left: 30px;

}

*{
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    list-style: none;
}


.second_content{
    margin-bottom: 60px;
     font-size: 15px;
     font-family: cursive;
}
.third_content{
    font-family: cursive;
}
.fourth_content{
    margin-top: 60px;
}
.footer_content{
    display: flex;
    justify-content: space-around;
    gap: 100px;
    margin-top: 20px;
}

.fith button{
    background-color: blue;

}

